header.navbar.bg--white
    section.navbar-section
        a.navbar-brand.mr-10(href='#') POC's
        a.btn.btn-link(href='#') Salas
    section.navbar-center
    section.navbar-section
        a.btn.btn-link(href='#') GitHub
