extends layout

block content
    div.index
        div.index__flex
            div.index__flex--title
                h1= title
                p Welcome to #{title}
            div.index__flex--chat
                div.chat#chat
                div.form-group
                br
                input.form-input.chat__input#msg(type='text')(placeholder='Mensagem...')
