doctype html
html
    head
        title POCs Chat
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/javascripts/socket.io.dev.js')
        script(src='/javascripts/app.js')