body {
  padding: 50px;
  background-color: #111111;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

a {
  color: #00B7FF;
}

pre {
  padding: 10px;
  background-color: #111111;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 10px;
  color: white;
}
